body {
   background:#e6e6e6;
   color:#fff;
}
.margin-top {
   margin-top:10px;
}
#sidebar-wrapper {
   background:#4d0000;
   overflow-x: hidden; /* Hide horizontal scrollbar */
   overflow-y: scroll; /* Add vertical scrollbar */
}
#page-content-wrapper {
   margin:0;
   padding:0;
}
.sideMenu {
   border-bottom:1px solid #e6e6e6;
   margin-bottom:0px;
   font-family:Segoe UI,Arial,Tahoma;
   font-weight:600;
   font-size:10pt;
   color:#fff;
   transition: all .3s ease 0s;
   padding:10px;
}
.sideMenu:hover {
   background:#ff4d67;
   cursor:pointer;
   padding-left:25px;
   transition: 0.3s;
}
.activeModule {
   background:#ff4d67;
   padding-left:25px;
}
#fm, #rpt{
   padding-left:15px;
}
.titleBar {
   padding:5px;
   border-bottom:1px solid #999999;
   border-top:1px solid #999999;
   background:#ff751a;
   text-shadow:1px 1px #000;
   
}
.footer {
   position: fixed;
   right: 0;
   bottom: 0;
   left: 0;
   background:#ff6600;
   /*text-shadow:1px 1px #000;*/
   text-align:center;
   border-top:1px solid #999999;
}
.card {
   border:1px solid #000;
   margin:5px;
   padding:10px;
   background:#fff;
   border-radius:10px;
   margin-top:10px;
}
.panel-design {
   border:1px solid #ff0066;
   border-radius:5px;
}
.panel-top {
   background:#ff3385;
   color:#fff;
   padding:15px;
}
.panel-mid {
   padding:15px;
   color:black;
}
.panel-bot {
   background:#ffb3d1;
   color:#000;
   padding:15px;
}
.btn:hover {
   background:#ff0066;
   transition:0.3s;
   -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.btn-info {
   background:#0082e6;
   font-size:10pt;
   padding:7px;
   background: #0082e6; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(#0082e6,#0065b1); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(#0082e6,#0065b1); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(#0082e6,#0065b1); /* For Firefox 3.6 to 15 */
   background: linear-gradient(#0082e6,#0065b1); /* Standard syntax */
   border:1px groove #0065b1;
   text-shadow:1px 3px 3px #000;
   
}
.btn-danger {
   font-size:10pt;
   padding:7px;
   background: #ff0026; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(#ff0026,#a6001a); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(#ff0026,#a6001a); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(#ff0026,#a6001a); /* For Firefox 3.6 to 15 */
   background: linear-gradient(#ff0026,#a6001a); /* Standard syntax */
   border:1px groove #a6001a;
   text-shadow:1px 3px 3px #000;
}
.btn-warning {
   font-size:10pt;
   padding:7px;
   background: #fdd74e; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(#fdd74e,#e3b202); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(#fdd74e,#e3b202); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(#fdd74e,#e3b202); /* For Firefox 3.6 to 15 */
   background: linear-gradient(#fdd74e,#e3b202); /* Standard syntax */
   border:1px groove #e3b202;
   text-shadow:1px 3px 3px #000;
}
.btn:disabled {
   background: #999999;
   color: #fff;
}
.table-striped{
   background: #ffb3d1;
}
.badge {
   background: #ffb3d1;  
   padding: 5px;
}
.form-control:disabled {
   background: #999999;
   color: #fff;
}
.form-control:focus {
   background:#4d0000;
   color: #fff;
}
.form-control {
   border: 1px solid #000;
}
